/**
 * ColorPicker.css
 */
html,
body {
  margin:           0;
  padding:          0;
  font-family:      "Roboto", "Open Sans", sans-serif;
  color:            #000;
  background-color: #F0F0F0;
}

.group:after {
  visibility:       hidden;
  display:          block;
  content:          "";
  clear:            both;
  height:           0;
}

#Page {
  display:          block;
  max-width:        900px;
  margin:           0 auto;
}

#ImagePicker {
  margin-left:      2em;
}


#TopBar {
  display:          block;
  margin:           0 auto;
  padding:          0.5em 1em;
  width:            800px;  /* same as canvas */
  background-color: #F0F0F0;
}

#TopBar-Input {
  float:            left;
  display:          inline-block;
}
#TopBar-Input-Filename {
  display:          inline-block;
  padding:          0.5em;
  width:            400px;
  background-color: #E0E0E0;
}
#TopBar-Input-Upload {
  display:          none;
}
#TopBar-ColorWheel {
  display:          none;
}



#TopBar-Output {
  float:            right;
  display:          inline-block;
  margin-left:      2em;
  width:            100px;
}
#TopBar-Output-ColorBox {
  display:          block;
  width:            100%;
  height:           40px;
  background-color: #000; /* black because that the color value when you click on the canvas without an image being loaded */
  box-shadow:       0px 1px 0px #000;
  cursor:           pointer;
}
#TopBar-Output-ColorHexValue {
  display:          block;
  padding:          0.25em;
  text-align:       center;
  text-transform:   uppercase;
  background-color: #FFF;
  border:           1px solid #CCC;
}

#Canvas {
  display:          block;
  margin:           1em auto;
  width:            800px;
  height:           500px;
  background-color: #00;
/*  border:           1px solid #000; */
  cursor:           crosshair;
}

/**
 * Material Design Color Palette
 */
#MaterialDesign-Palette {
  display:          none;
}
#MaterialDesign {
  display:          block;
}
.materialDesign-item {
  float:            left;
  display:          inline-block;
  margin:           0.5em;
}
.materialDesign-setName {
  margin-top:       1em;
  font-size:        0.75em;
  font-weight:      bold;
  text-align:       center;
}
.materialDesign-setName:first-child {
  margin-top:       0;
}
.materialDesign-colorBox {
  display:          block;
  text-align:       center;
  text-transform:   uppercase;
  font-size:        0.75em;
  border:           1px solid #F0F0F0;  /* Body > background-color */
  cursor:           crosshair;
}
.materialDesign-colorBox:hover {
  border:           1px solid #000;
}
